# ElevenLabs API Key
ELEVENLABS_API_KEY=
ELEVENLABS_WEBHOOK_SECRET=
APP_URL=

# Gemini API Key
GEMINI_API_KEY=

# PayPal Keys
PAYPAL_CLIENT_ID=AfCcts1bDOrA7PXxXrDUUIedzRV5mOUgGP9OZwuUgVypo7bfxh36bmuj7UJ_YIcTmqg1hZzXJiLQQtUO
PAYPAL_CLIENT_SECRET=EFt8w9L5DHnGYGfnf5lXaW2caQR6kilRM60jiPy9-YaLDAz3yceFBGfh0lfj-yhTpFlr0MhT1trYR6Xp
PAYPAL_MODE=live
