# ElevenLabs API Key
ELEVENLABS_API_KEY=
ELEVENLABS_WEBHOOK_SECRET=
APP_URL=

# Gemini API Key
GEMINI_API_KEY=

# PayPal Keys
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
VITE_PAYPAL_CLIENT_ID=
PAYPAL_MODE=live

# Email Configuration
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
